services:
  - type: web
    name: karyasiddhi-backend
    env: node
    region: oregon
    plan: free
    buildCommand: cd backend && npm install && npm run build
    startCommand: cd backend && npm run start:prod
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRETn
        sync: false
      - key: CORS_ORIGIN
        value: http://localhost:5173,https://karyasiddhi.netlify.app
